:root{
    --color--primary-pink: hsl(322, 100%, 66%);
    --color--primary-pink-active: hsl(322, 100%, 80%);
    --color--secondary-pale-cyan: hsl(193, 100%, 96%);
    --color--secondary-dark-cyan: hsl(192, 100%, 9%);
    --color--secondary-grayish-blue: hsl(208, 11%, 55%);

    --color--header-button: white;

    --font-size-default: 18px;

    --font-headings-family:"Poppins";
    --font-headings-weight:600;
    --font-body-family:"Open Sans";
    --font-body-weight-normal:400;
    --font-body-weight-bold:700;

    --body-horizontal-padding: 5rem;
}

*{
    margin:0;
    padding:0;
    font-family: var(--font-body-family);
    font-size: var(--font-size-default);
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--font-headings-family);
    font-weight: var(--font-headings-weight);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.75rem;
}

button{
    height: fit-content;
    width: fit-content;
    padding: 1rem 3rem;
    border:none;
    border-radius: 5rem;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

.align-center{
    display:flex;
    align-items: center;
}

.flex-between{
    display:flex;
    justify-content: space-between;
}

.image-wrapper img{
    object-fit: cover;
    width:100%
}

button.pink{
    color:var(--color--secondary-pale-cyan);
    background-color: var(--color--primary-pink);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

button.pink:hover{
    background-color: var(--color--primary-pink-active);
}

header{
    width: 100% !important;
    padding: 2rem 4rem;
    background-color: var(--color--secondary-pale-cyan);
    background-image: url("images/bg-hero-desktop.svg");
    gap:3rem
}

section#community{
    width:40%;
    height:100%;
    gap:1.5rem;
}

header .image-wrapper.logo-wrapper{
    width: 200px;
}
header .image-wrapper{
    width: 55%;
}

header button#try{
    background-color: white;
    font-weight: var(--font-body-weight-bold);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: calc(var(--body-horizontal-padding) * 1.5) var(--body-horizontal-padding) calc(var(--body-horizontal-padding) * 3);
}

main>div:not(#popup-div){
    padding: 2rem 1rem 2rem 5rem;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}
main>div:not(#popup-div):nth-child(even)>.description{
    order:2;
}
main>div:not(#popup-div):nth-child(even)>.image-wrapper{
    order:1;
}
main>div:not(#popup-div)>.description{
    width:45%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}
main>div:not(#popup-div)>.description p{
    color:var(--color--secondary-grayish-blue)
}

main>div:not(#popup-div)>.image-wrapper{
    width:40%
}

#popup-div{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left:50%;
    transform: translate(-50%, 33%);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    border-radius: .5rem;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:hsl(192, 100%, 9%);
    color: white;
    padding: 7rem 5rem 3rem ;
}

.flex-between{
    display: flex;
    justify-content: space-between; 
}

.flex-col-icone{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 80px;
}
.flex-col-icone img{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    border: 1px solid white; 
    border-radius: 50%;
    padding: 5px;
}


.col-1 img{
    height: fit-content;
    width: fit-content;
}

footer .col-1 ul li {
    display: flex;
    gap: 1.5rem;
}

.col-1{
    width: 25%;
    height: 100%;
}

.col-2{
    height: 100%;
}

.col-3{
    height: 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;  
}

.image-footer img{
    width: 100%;
    object-fit: cover;
}

.image-footer{
    width: 15rem;
    padding-bottom: 30px;   
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unstyle-list {
    list-style-type: none;
    
}

.Copyright{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 30px;
    font-size: 14px;
}

